<%- include('./partials/head') %>
<header>
  <svg id="menuToggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </svg>
  <div class="title">Cathago</div>
  <div class="user-profile" id="userProfile">
      <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Prescription02&facialHairType=BeardLight&facialHairColor=Auburn&clotheType=BlazerSweater&eyeType=Surprised&eyebrowType=AngryNatural&mouthType=ScreamOpen&skinColor=DarkBrown" alt="Avatar">
      <div class="user-info">
          <div><%= user.firstname %> <%= user.lastname %></div>
          <div><%= user.email %></div>
      </div>
      <div class="logout-card" id="logoutCard">
          <a href="/logout" class="logout">Logout</a>
      </div>
  </div>
</header>

<div class="sidebar" id="sidebar">
    <ul>
        <li>Dashboard</li>
        <li>Request Credits</li>
        <li>Scans</li>
    </ul>
</div>

<div class="main-content">
    <%- include(body, { user: user }) %> 
</div>

<%- include('./partials/footer') %>
